{{#each this}}
<h1>{{array.name}}</h1>
<p><span>Capital: </span>{{array.capital}}</p>
<p><span>Population: </span>{{array.population}}</p>
<p><span>Languages: </span></p>
<ul>
    {{#each array.languages}}
    <li>{{this}}</li>
    {{/each}}
</ul>
<img src="{{array.flag}}" alt="{{array.name}}" />
{{/each}}